APP_ENV=dev
APP_NAME=Remote Desktop Manager
APP_SECRET_KEY=change-me

POSTGRES_DB=rdm
POSTGRES_USER=nimda
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgresql+psycopg://nimda:change-me@postgres:5432/rdm

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

BACKEND_CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

OMNIDESK_BASE_URL=https://iridi.omnidesk.ru
OMNIDESK_API_KEY=

TELEGRAM_BOT_TOKEN=
BITRIX24_BOT_WEBHOOK_URL=
